.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;

}
.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}
.address {
    font-size:80%;
    margin:0px;
    color: #0f0f0f;
}
 body{
     padding: 50px 0px 0px 0px;
     z-index: 0;
 }

 .navbar-dark{
    background-color: #512DA8; 
 }

 .breadcrumb{
     box-shadow: 1px 1px #d5d4d4;
     background:#eeeded ;
     border: 1px solid #eeeded;
     border-radius: 5px;
     padding: 0 5px 0 10px !important;
     font-size: 16px;
     line-height: 2em;
 }

 #button1 {
     background: #356ed6fb;
     border-radius: 3px;
     border: none;
     height: 30px;
 }

 #button2 {
     background: gold;
     border-radius: 5px;
     border: none;
     height: 40px;
     width: 150px;
 }
 
 .navbar-dark {
     background-color: #512DA8;
 }

 .carousel {
     background: #512DA8;

 }

 .carousel-item {
       height: 300px;
 }

 .carousel-item img {
     position: absolute;
     top: 0;
     left: 0;
     min-height: 300px;
 }
#carouselButton {
    right: 173px;
    position: absolute;
    bottom: 0px;
    width: 5px;
}